<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jj.dao.IKechengDao">
    <resultMap id="kechengMap" type="com.jj.pojo.Kecheng">
        <id column="id" property="id"/>
        <result column="kechengmingcheng" property="kechengmingcheng"/>
        <result column="zongkeshi" property="zongkeshi"/>
        <result column="xuefeng" property="xuefeng"/>
        <result column="type" property="type"/>
        <result column="xueyuan_id" property="xueyuanId"/>
        <association property="xueyuan" resultMap="xueyuanMap"/>
        <collection property="xueShengs" resultMap="xueshengMap"/>
    </resultMap>
    <resultMap id="xueyuanMap" type="com.jj.pojo.Xueyuan">
        <result column="mingcheng" property="mingcheng"/>
    </resultMap>
    <resultMap id="xueshengMap" type="com.jj.pojo.XueSheng">
        <id column="xuesheng_id" property="userId"/>
        <result column="xingming" property="xingming"/>
        <result column="xuehao" property="xuehao"/>
        <result column="banji_id" property="banjiId"/>
        <result column="xingbie" property="xingbie"/>

        <result column="chengji" property="chengji"/>
        <association property="banji" resultMap="banjiMap"/>
    </resultMap>
    <resultMap id="banjiMap" type="com.jj.pojo.Banji">
        <id column="banji_id" property="id"/>
        <result column="mingcheng" property="mingcheng"/>
    </resultMap>
    <select id="findOne" resultMap="kechengMap">
        SELECT kc.*,
        bj.*,
        xs.*,
        xkb.*,
        cjb.chengji

        FROM xuankebiao xkb LEFT JOIN kecheng kc ON xkb.kecheng_id=kc.id
        LEFT JOIN xuesheng xs ON xs.user_id=xkb.xuesheng_id
        LEFT JOIN banji bj ON bj.id=xs.banji_id
        LEFT JOIN chengjibiao cjb ON cjb.xuesheng_id=xs.user_id AND cjb.kecheng_id=kc.id

        WHERE bj.id=#{banjiId}
        AND kc.id=#{kechengId}
        AND xkb.enable=1
    </select>

    <insert id="save" parameterType="com.jj.pojo.Kecheng">
       INSERT INTO kecheng(id, kechengmingcheng, zongkeshi, xuefeng, type, xueyuan_id)
        VALUE (#{id},#{kechengmingcheng},#{zongkeshi},#{xuefeng},#{type},#{xueyuanId})
    </insert>

    <update id="delete">
        UPDATE kecheng SET enable=0 WHERE id=#{id}
    </update>

    <select id="findAll" resultMap="kechengMap">
        SELECT kc.*,
        xy.*
        FROM kecheng kc LEFT JOIN xueyuan xy ON kc.xueyuan_id=xy.id
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="xueyuanId != null">kc.xueyuan_id=#{xueyuanId}</if>
            <if test="mingcheng != null">AND kc.kechengmingcheng=#{mingcheng}</if>
            <if test="type != null ">AND kc.type=#{type}</if>
            AND kc.enable=1
        </trim>
    </select>
</mapper>

